@import "../lib";

p, ul li {
  @include rwd-font-size(body-1);
  color: inherit;
}

a {
  @include font(body-1);
  color: inherit;
  text-decoration: none;
}

@each $font in $txt-typography-stack {
  .font-#{$font} {
    @include rwd-font-size($font);
  }
}
